@font-face {
  font-family: TravelsBold;
  font-weight: 400;
  src: url("../fonts/TTTravels-Bold.ttf") format("opentype");
}

@font-face {
  font-family: TravelsDemiBold;
  font-weight: 400;
  src: url("../fonts/TTTravels-DemiBold.ttf") format("opentype");
}

@font-face {
  font-family: TravelsLight;
  font-weight: 400;
  src: url("../fonts/TTTravels-Light.ttf") format("opentype");
}

@font-face {
  font-family: TravelsMedium;
  font-weight: 400;
  src: url("../fonts/TTTravels-Medium.ttf") format("opentype");
}

@font-face {
  font-family: TravelsRegular;
  font-weight: 400;
  src: url("../fonts/TTTravels-Regular.ttf") format("opentype");
}


